<!--
File Name
  AddMembers.cshtml

Author:
  Longji

Date Created
  28/08/2020

Update History:
--------------------------------------------------------------------------------
| Date       | Author       | Changes
--------------------------------------------------------------------------------
 10/09/2020  | Danel        |  Changed UI
--------------------------------------------------------------------------------


Functional Description:


-->

<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <link rel="icon" href="@Url.Content("~/assets/images/dumbbell-128x128-1.png")">

    <title>Dashboard - Add Members</title>

    <link href="@Url.Content("~/assets/vendor/fontawesome-free/css/all.min.css")" rel="stylesheet" type="text/css">
    <link href="@Url.Content("https://fonts.googleapis.com/css?family=Roboto:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i")"
          rel="stylesheet">
    <link href="@Url.Content("~/assets/css/sb-admin-2.min.css")" rel="stylesheet">
    <link href="@Url.Content("~/assets/vendor/datatables/dataTables.bootstrap4.min.css")" rel="stylesheet">

    <style>

            .navbar_background {
                background-color: #7341e6;
                color: white;
            }

            @@font-face {
                font-family: 'Lastwaerk';
                src: url("@Url.Content("~/assets/lastwaerk.ttf")") format('truetype');
            }

            tbody tr:nth-child(odd){
                background-color : #eeebea;
            }

            table {
                border-collapse: collapse;
            }

            table, th, td {
                border: 2px solid #878787 !important;
            }

            .pred {
                width: 25%;
            }

            .dow {
                font-size: 1.5rem;
            }

            .button-colour {
                background-color: #7341E6;
                color: white;
                padding: 10px;
            }

            .button-colour:hover {
                background-color: #7341E6;
                color: white;
                padding: 10px;
            }

            .modal {
                display: none; /* Hidden by default */
                position: fixed; /* Stay in place */
                z-index: 1; /* Sit on top */
                padding-top: 100px; /* Location of the box */
                left: 0;
                top: 0;
                width: 100%; /* Full width */
                height: 100%; /* Full height */
                overflow: auto; /* Enable scroll if needed */
                background-color: rgb(0,0,0); /* Fallback color */
                background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
            }

            /* Modal Content */
            .modal-content {
                background-color: #fefefe;
                margin: auto;
                padding: 20px;
                border: 1px solid #888;
                width: 80%;
            }

            /* The Close Button */
            .close {
                color: #aaaaaa;
                float: right;
                font-size: 28px;
                font-weight: bold;
            }


            .close:hover,
            .close:focus {
                color: #000;
                text-decoration: none;
                cursor: pointer;
            }

    </style>

</head>

<body id="page-top">

    <script>
            if (document.cookie == "") {
                window.location.href = "@Url.Content("~/ManagerLogin")";
            }
    </script>

    <div id="wrapper">

        <ul class="navbar-nav sidebar sidebar-dark accordion navbar_background" id="accordionSidebar">

            <a class="sidebar-brand d-flex align-items-center justify-content-center" href=#>
                <div class="sidebar-brand-icon">
                    <img src="@Url.Content("~/assets/images/logo.png")" height="30px" alt="dumbbell">
                </div>
                <div class="sidebar-brand-text mx-3">Gym Moves</div>
            </a>

            <hr class="sidebar-divider my-0">

            <li class="nav-item">
                <a class="nav-link" href="@Url.Content("~/dashboard/home")">
                    <span>Home</span>
                </a>
            </li>

            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapsePages" aria-expanded="true" aria-controls="collapsePages">
                    <span>Dashboard</span>
                </a>
                <div id="collapsePages" class="collapse" aria-labelledby="headingPages" data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <a class="collapse-item" href="@Url.Content("~/dashboard/GymTraffic")">Gym Traffic</a>
                        <a class="collapse-item" href="@Url.Content("~/dashboard/Ratings")">Gym Ratings</a>
                        <a class="collapse-item" href="@Url.Content("~/dashboard/classAttendance")">Class Attendance</a>
                    </div>
                </div>
            </li>

            <li class="nav-item active">
                <a class="nav-link" href=#">
                    <span>Upload database</span>
                </a>
            </li>

            <hr class="sidebar-divider d-none d-md-block">

            <div class="text-center d-none d-md-inline">
                <button class="rounded-circle border-0" id="sidebarToggle"></button>
            </div>

        </ul>

        <div id="content-wrapper" class="d-flex flex-column">

            <div id="content">

                <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

                    <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
                        <i class="fa fa-bars"></i>
                    </button>

                    <div class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100">
                        Upload Database
                    </div>

                    <ul class="navbar-nav ml-auto">

                        <div class="topbar-divider d-none d-sm-block"></div>

                        <li class="nav-item dropdown no-arrow">
                            <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <img class="img-profile rounded-circle" src="@Url.Content("~/assets/images/profile.png")">
                            </a>

                            <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="userDropdown">

                                <a class="dropdown-item" href="#" data-toggle="modal" data-target="#logoutModal" onclick="logout()">
                                    <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                                    Logout
                                </a>
                            </div>
                        </li>
                    </ul>
                </nav>

                <div class="row" style="padding-left: 50px; padding-right: 50px; padding-bottom: 50px;">

                    <div class="container-fluid card shadow" style="padding-left:50px;">
                        <h3 class="mt-4">Required format</h3>
                        <br /><br />
                        <pre>   Membership ID, Name, Surname, Email, PhoneNumber, User Type</pre> <br />
                        <pre>   User Types:</pre>
                        <pre>       0: Member</pre>
                        <pre>       1: Instructor</pre>
                        <pre>       2: Manager</pre>

                        <br />

                        <h3 class="mt-4">Copy and Paste your CSV contents here!</h3>
                        <br />
                        <form id="text_form">
                            <textarea class="form-control" id="textarea" rows="10"></textarea>
                        </form>
                        <br />
                        <div align="right" class="form-group">
                            <button type="button" class="btn button-colour" onclick="submitCsv()">Submit</button>
                        </div>

                        <h3 class="mt-4">Select your .csv here!</h3>
                        We accept .csv as well as .txt files
                        <br />
                        <form id="text_form">
                            <input class="form-control-file" type="file" id="csvfile" accept=".csv,.txt"> 
                        </form>
                        <br />
                        <div align="right" class="form-group">
                            <button type="button" class="btn button-colour" onclick="submitFileContents()">Submit</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div id="alertModal" class="modal">
            <div class="modal-content">
                <span align="right" class="close">&times;</span>
                <h4 id="modalHeading"> Summary</h4>
                <br />
                <p id="message"></p>
            </div>
        </div>
    </div>


        <script src="@Url.Content("~/assets/jquery.min.js")"></script>
        <script src="@Url.Content("~/assets/bootstrap/js/bootstrap.bundle.min.js")"></script>
        <script src="@Url.Content("~/assets/vendor/jquery-easing/jquery.easing.min.js")"></script>
        <script src="@Url.Content("~/assets/js/sb-admin-2.min.js")"></script>


        <script>

            var modal = document.getElementById("alertModal");
            var span = document.getElementsByClassName("close")[0];
            var modalMessage = document.getElementById("message");

            modal.style.display = "none";

            var fileTextValue = "";

            document.getElementById('csvfile').addEventListener('change', function () {
                var fileReader = new FileReader();

                fileReader.onload = function () {
                    fileTextValue = fileReader.result;
                    console.log(fileTextValue);
                }

                fileReader.readAsText(this.files[0]);
            });

            span.onclick = function () {
                modal.style.display = "none";
            }

            $("#menu-toggle").click(function (e) {
                e.preventDefault();
                $("#wrapper").toggleClass("toggled");
            });

            async function submitFileContents() {
                var data = {
                    Username: getCookie("username").split(",")[0],
                    Records: fileTextValue
                };

                $.ajax({
                    url: "@Url.Content("~/api/membership/addmember")",
                    type: "POST",
                    data: JSON.stringify(data),
                    contentType: "application/json",
                    success: function (result) {
                        modalMessage.innerHTML = "Duplicates: " + result.duplicates +
                            "<br /> Successful: " + result.success + "<br /> Failures: " +
                            result.failure;

                        modal.style.display = "block";
                    }
                });
            }

            async function submitCsv() {
                var text = document.getElementById("textarea").value;

                var data = {
                    Username: getCookie("username").split(",")[0],
                    Records: text
                };

                $.ajax({
                    url: "@Url.Content("~/api/membership/addmember")",
                    type: "POST",
                    data: JSON.stringify(data),
                    contentType: "application/json",
                    success: function (result) {
                        modalMessage.innerHTML = "Duplicates: " + result.duplicates +
                            "<br /> Successful: " + result.success + "<br /> Failures: " +
                            result.failure;

                        modal.style.display = "block";
                    }
                });
            }

            function logout() {
                document.cookie = 'gymId=; expires=Thu, 01 Jan 1970 00:00:01 GMT;path=/;';
                document.cookie = 'username=; expires=Thu, 01 Jan 1970 00:00:01 GMT;path=/;';
                window.location.href = "@Url.Content("~/ManagerLogin")";
            }

            function getCookie(cname) {

                var name = cname + "=";
                var decodedCookie = decodeURIComponent(document.cookie);
                var ca = decodedCookie.split(';');

                for (var i = 0; i < ca.length; i++) {

                    var c = ca[i];
                    while (c.charAt(0) == ' ') {
                        c = c.substring(1);
                    }

                    if (c.indexOf(name) == 0) {
                        return c.substring(name.length, c.length);
                    }
                }

                return "";
            }

        </script>
</body>
</html>




