<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Dashboard - Add Members</title>

    <link href="@Url.Content("~/assets/bootstrap/css/bootstrap.min.css")" rel="stylesheet">
    <link href="@Url.Content("~/assets/simple-sidebar.css")" rel="stylesheet">

    <style>
        .navbar_background {
            background-color: #7341e6;
            color: white;
        }

        @@font-face {
            font-family: 'Lastwaerk';
            src: url("@Url.Content("~/assets/lastwaerk.ttf")") format('truetype');
        }

    </style>

</head>

<body>

    <script>
        if (document.cookie == "") {
            window.location.href = "@Url.Content("~/ManagerLogin")";
        }
    </script>

    <div class="d-flex" id="wrapper">

        <div class="border-right navbar_background" id="sidebar-wrapper">
            <span class="sidebar-heading navbar_background" style="font-family: Lastwaerk; font-size: 1.5em; margin: 0px 20px 20px 0px;">
                Gym Moves
                <img src="@Url.Content("~/assets/images/logo.png")" height="30px" alt="dumbbell">
            </span>
            <div class="list-group list-group-flush">
                <a href="@Url.Action("~/dashboard/")" class="list-group-item list-group-item-action navbar_background">Home</a>
                <a href="#" class="list-group-item list-group-item-action navbar_background">Gym Traffic</a>
                <a href="#" class="list-group-item list-group-item-action navbar_background">Ratings</a>
                <a href="#" class="list-group-item list-group-item-action navbar_background">Classes</a>
                <a href="#" class="list-group-item list-group-item-action navbar_background">Upload Database</a>
                <a href="#" class="list-group-item list-group-item-action navbar_background">Profile</a>
            </div>
        </div>

        <div id="page-content-wrapper">

            <nav class="navbar navbar-expand-lg navbar-light navbar_background border-bottom ">
                <button class="btn btn-primary" style=" background-color: white; color: #7341e6;" id="menu-toggle">Toggle Menu</button>

            </nav>

            <div class="container-fluid">
                <h2 class="mt-4">Required format...</h2>
                The required format is the following: <br />
                <pre>   Membership ID, Name, Surname, Email, PhoneNumber, User Type</pre> <br />
                <pre>   User Types:</pre>
                <pre>       0: Member</pre>
                <pre>       1: Instructor</pre>
                <pre>       2: Manager</pre>
           
                <h2 class="mt-4">Copy and Paste your CSV contents here!</h2">
                    <form id="text_form">
                        <textarea rows="25" cols="100" style="font-size:12px;" id="textarea"></textarea>
                    </form>
                    <button onclick="submitCsv();">Submit</button>
</div>
        </div>

    </div>

    <script src="@Url.Content("~/assets/jquery.min.js")"></script>
    <script src="@Url.Content("~/assets/bootstrap/js/bootstrap.bundle.min.js")"></script>


    <script>
        $("#menu-toggle").click(function (e) {
            e.preventDefault();
            $("#wrapper").toggleClass("toggled");
        });
    </script>

    <script>
        async function submitCsv() {
            var text = document.getElementById("textarea").value;

            var data = {
                Username: "SunnyManager",
                Records: text
            };

            $.ajax({
                url: "@Url.Content("~/api/membership/addmember")",
                type: "POST",
                data: JSON.stringify(data),
                contentType: "application/json",
                success: function (result) {
                    console.log(result);
                }
            });
        }
    </script>
</body>
