<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>SB Admin 2 - Dashboard</title>

    <!-- Custom fonts for this template-->
    <link href="@Url.Content("~/assets/vendor/fontawesome-free/css/all.min.css")" rel="stylesheet" type="text/css">
    <link href="@Url.Content("https://fonts.googleapis.com/css?family=Roboto:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i")" rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="@Url.Content("~/assets/css/sb-admin-2.min.css")" rel="stylesheet">

    <style>
        .navbar_background {
            background-color: #7341e6;
            color: white;
        }

        @@font-face {
            font-family: 'Lastwaerk';
            src: url("@Url.Content("~/assets/lastwaerk.ttf")") format('truetype');
        }

    </style>

</head>

<body id="page-top" onload="getAllClasses()">

    <!-- Page Wrapper -->
    <div id="wrapper">

        <!-- Sidebar -->
        <ul class="navbar-nav sidebar sidebar-dark accordion navbar_background" id="accordionSidebar">

            <!-- Sidebar - Brand -->
            <a class="sidebar-brand d-flex align-items-center justify-content-center" href=#>
                <div class="sidebar-brand-icon">
                    <img src="@Url.Content("~/assets/images/logo.png")" height="30px" alt="dumbbell">
                </div>
                <div class="sidebar-brand-text mx-3">Gym Moves</div>
            </a>

            <!-- Divider -->
            <hr class="sidebar-divider my-0">

            <!-- Nav Item - Charts -->
            <li class="nav-item">
                <a class="nav-link" href="@Url.Content("~/dashboard/MainPageForDashboard")">
                    <span>Home</span>
                </a>
            </li>

            <!-- Nav Item - Pages Collapse Menu -->
            <li class="nav-item active">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapsePages" aria-expanded="true" aria-controls="collapsePages">
                    <span>Dashboard</span>
                </a>
                <div id="collapsePages" class="collapse" aria-labelledby="headingPages" data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <a class="collapse-item" href="login.html">Gym Attendance</a>
                        <a class="collapse-item" href="register.html">Gym Ratings</a>
                        <a class="collapse-item" href="@Url.Content("~/dashboard/ClassAttendance")">Class Attendance</a>
                    </div>
                </div>
            </li>

            <!-- Nav Item - Tables -->
            <li class="nav-item">
                <a class="nav-link" href="tables.html">
                    <span>Profile</span>
                </a>
            </li>

            <!-- Divider -->
            <hr class="sidebar-divider d-none d-md-block">

            <!-- Sidebar Toggler (Sidebar) -->
            <div class="text-center d-none d-md-inline">
                <button class="rounded-circle border-0" id="sidebarToggle"></button>
            </div>

        </ul>
        <!-- End of Sidebar -->
        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">

                <!-- Topbar -->
                <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

                    <!-- Sidebar Toggle (Topbar) -->
                    <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
                        <i class="fa fa-bars"></i>
                    </button>

                    <div class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100">
                        Class Attendance Statistics
                    </div>

                    <!-- Topbar Navbar -->
                    <ul class="navbar-nav ml-auto">

                        <div class="topbar-divider d-none d-sm-block"></div>

                        <!-- Nav Item - User Information -->
                        <li class="nav-item dropdown no-arrow">
                            <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <span class="mr-2 d-none d-lg-inline text-gray-600 small">Valerie Luna</span>
                                <img class="img-profile rounded-circle" src="https://source.unsplash.com/QAB-WJcbgJk/60x60">
                            </a>
                            <!-- Dropdown - User Information -->
                            <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="userDropdown">

                                <a class="dropdown-item" href="#" data-toggle="modal" data-target="#logoutModal" onclick="logout()">
                                    <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                                    Logout
                                </a>
                            </div>
                        </li>

                    </ul>

                </nav>

                <!-- Content Row -->
                <div class="row" style="padding-left:100px; padding-right:50px">

                    <div class="col-xl-3 col-md-6 mb-4">
                        <div class="card border-left-primary shadow h-100 py-2">
                            <div class="card-body">
                                <div class="row no-gutters align-items-center">
                                    <div class="col mr-2">
                                        <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">Most Attended Class</div>
                                        <div id="firstClass" class="h5 mb-0 font-weight-bold text-gray-800"></div>
                                    </div>
                                    <div class="col-auto">
                                        <div id="firstClassValue" style="font-size: 0.8em;"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-xl-3 col-md-6 mb-4">
                        <div class="card border-left-success shadow h-100 py-2">
                            <div class="card-body">
                                <div class="row no-gutters align-items-center">
                                    <div class="col mr-2">
                                        <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">Second Most Attended Class</div>
                                        <div id="secondClass" class="h5 mb-0 font-weight-bold text-gray-800"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-xl-3 col-md-6 mb-4">
                        <div class="card border-left-info shadow h-100 py-2">
                            <div class="card-body">
                                <div class="row no-gutters align-items-center">
                                    <div class="col mr-2">
                                        <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">Third Most Attended Class</div>
                                        <div id="thirdClass" class="h5 mb-0 font-weight-bold text-gray-800"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

                <!-- Bootstrap core JavaScript-->
                <script src="@Url.Content("~/assets/vendor/jquery/jquery.min.js")"></script>
                <script src="@Url.Content("~/assets/vendor/bootstrap/js/bootstrap.bundle.min.js")"></script>

                <!-- Core plugin JavaScript-->
                <script src="@Url.Content("~/assets/vendor/jquery-easing/jquery.easing.min.js")"></script>

                <!-- Custom scripts for all pages-->
                <script src="@Url.Content("~/assets/js/sb-admin-2.min.js")"></script>

                <!-- Page level plugins
    <script src="@Url.Content("~/assets/vendor/chart.js/Chart.min.js")"></script>

                <script src="@Url.Content("~/assets/js/demo/chart-area-demo.js")"></script>
                <script src="@Url.Content("~/assets/js/demo/chart-pie-demo.js")"></script>-->
                <!-- End of Topbar -->

                <script>

                    var username = getCookie("username").split(",")[0];
                    var gymId = getCookie("gymId").split(",")[0];

                    var classes;


                    function logout() {
                        document.cookie = "";
                        window.location.href = "@Url.Content("~/ManagerLogin")";
                    }

                    async function getTopThreeClasses() {

                        var classesInIdOrder = [];

                        console.log(classes);

                        for (var i = 0; i < classes.length; i++) {
                            await jQuery.ajax({
                                url: "@Url.Content("~/api/classes/getAttendanceForClass?classId=")" + classes[i].classId,
                                type: "GET",
                                success: function (result) {
                                    classesInIdOrder.push(result);
                                },
                                error: function (result) {
                                   window.alert(result.responseText);
                                }
                            });
                        }

                      
                        var classesAttendanceIdOrder = [];

                        var sum;

                        for (var ids = 0; ids < classesInIdOrder.length; ids++) {
                            sum = 0;

                            for (var classInside = 0; classInside < classesInIdOrder[ids].length; classInside++) {
                                sum += classesInIdOrder[ids][classInside].numberOfStudents / classesInIdOrder[ids][classInside].capacity;
                            }
                            classesAttendanceIdOrder.push(sum / classesInIdOrder[ids].length);
                        }

                        var indexOfMax = classesAttendanceIdOrder.indexOf(Math.max(...classesAttendanceIdOrder));

                        var classId = classesInIdOrder[indexOfMax][0].classId;

                        for (var i = 0; i < classes.length; i++) {
                            if (classes[i].classId == classId) {
                                document.getElementById("firstClass").innerHTML = classes[i].name;
                                document.getElementById("firstClassValue").innerHTML = (classesAttendanceIdOrder[indexOfMax] * 100).toString() + "% average attendance";
                            }
                        }

                    }

                    function getAllClasses() {


                        jQuery.ajax({
                            url: "@Url.Content("~/api/classes/gymlist?gymId=")" + gymId,
                            type: "GET",
                            success: function (result) {
                                if (result.length > 0) {
                                    classes = result;
                                    getTopThreeClasses();
                                }
                                else {

                                }

                            },
                            error: function (result) {
                               window.alert(result.responseText);
                            }
                        });

                    }


                    function getCookie(cname) {
                        var name = cname + "=";
                        var decodedCookie = decodeURIComponent(document.cookie);
                        var ca = decodedCookie.split(';');
                        for (var i = 0; i < ca.length; i++) {
                            var c = ca[i];
                            while (c.charAt(0) == ' ') {
                                c = c.substring(1);
                            }
                            if (c.indexOf(name) == 0) {
                                return c.substring(name.length, c.length);
                            }
                        }
                        return "";
                    }



                </script>


</body>
</html>