<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <link rel="icon" href="@Url.Content("~/assets/images/dumbbell-128x128-1.png")">

    <title>Gym Traffic Statistics</title>

    <link href="@Url.Content("~/assets/vendor/fontawesome-free/css/all.min.css")" rel="stylesheet" type="text/css">
    <link href="@Url.Content("https://fonts.googleapis.com/css?family=Roboto:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i")"
          rel="stylesheet">
    <link href="@Url.Content("~/assets/css/sb-admin-2.min.css")" rel="stylesheet">
    <link href="@Url.Content("~/assets/vendor/datatables/dataTables.bootstrap4.min.css")" rel="stylesheet">

    <style>

            .navbar_background {
                background-color: #7341e6;
                color: white;
            }

            @@font-face {
                font-family: 'Lastwaerk';
                src: url("@Url.Content("~/assets/lastwaerk.ttf")") format('truetype');
            }

            tbody tr:nth-child(odd){
                background-color : #eeebea;
            }

            table {
                border-collapse: collapse;
            }

            table, th, td {
                border: 2px solid #878787 !important;
            }

            .pred {
                width: 25%;
                back
            }

            .dow {
                font-size: 1.5rem;
            }

    </style>

</head>

<body id="page-top" onload="showData()">

    <script>
            if (document.cookie == "") {
                window.location.href = "@Url.Content("~/ManagerLogin")";
            }
    </script>

    <div id="wrapper">

        <ul class="navbar-nav sidebar sidebar-dark accordion navbar_background" id="accordionSidebar">

            <a class="sidebar-brand d-flex align-items-center justify-content-center" href=#>
                <div class="sidebar-brand-icon">
                    <img src="@Url.Content("~/assets/images/logo.png")" height="30px" alt="dumbbell">
                </div>
                <div class="sidebar-brand-text mx-3">Gym Moves</div>
            </a>

            <hr class="sidebar-divider my-0">

            <li class="nav-item">
                <a class="nav-link" href="@Url.Content("~/dashboard/home")">
                    <span>Home</span>
                </a>
            </li>

            <li class="nav-item active">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapsePages" aria-expanded="true" aria-controls="collapsePages">
                    <span>Dashboard</span>
                </a>
                <div id="collapsePages" class="collapse" aria-labelledby="headingPages" data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <a class="collapse-item" href=#>Gym Traffic</a>
                        <a class="collapse-item" href="@Url.Content("~/dashboard/Ratings")">Gym Ratings</a>
                        <a class="collapse-item" href="@Url.Content("~/dashboard/ClassAttendance")">Class Attendance</a>
                    </div>
                </div>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="@Url.Content("~/dashboard/AddMembers")">
                    <span>Upload database</span>
                </a>
            </li>

            <hr class="sidebar-divider d-none d-md-block">

            <div class="text-center d-none d-md-inline">
                <button class="rounded-circle border-0" id="sidebarToggle"></button>
            </div>

        </ul>

        <div id="content-wrapper" class="d-flex flex-column">

            <div id="content">

                <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

                    <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
                        <i class="fa fa-bars"></i>
                    </button>

                    <div class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100">
                        Class Attendance Statistics
                    </div>

                    <ul class="navbar-nav ml-auto">

                        <div class="topbar-divider d-none d-sm-block"></div>

                        <li class="nav-item dropdown no-arrow">
                            <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <img class="img-profile rounded-circle" src="@Url.Content("~/assets/images/profile.png")">
                            </a>

                            <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="userDropdown">

                                <a class="dropdown-item" href="#" data-toggle="modal" data-target="#logoutModal" onclick="logout()">
                                    <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                                    Logout
                                </a>
                            </div>
                        </li>
                    </ul>
                </nav>

                <div class="row" style="padding-left:50px;">

                    <div class="container-fluid">
                        <h1 class="mt-5">Gym Statistics</h1>
                        
                        <div id="chart" style="height: 300px; width: 100%;"></div>
                        <div>
                            <h1>Gym predictions</h1>
                            <div class="row">
                                <div class="col-xl-3 col-md-6 mb-4">
                                    <div class="card border-left-primary shadow h-100 py-2">
                                        <div class="card-body">
                                            <div class="row no-gutters align-items-center">
                                                <div class="col mr-2">
                                                    <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">Monday</div>
                                                    <div class="h5 mb-0 font-weight-bold text-gray-800" id="0">Peak Time</div>
                                                </div>
                                                <div class="col-auto">
                                                    <i class="fas fa-calendar fa-2x text-gray-300"></i>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xl-3 col-md-6 mb-4">
                                    <div class="card border-left-primary shadow h-100 py-2">
                                        <div class="card-body">
                                            <div class="row no-gutters align-items-center">
                                                <div class="col mr-2">
                                                    <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">Tuesday</div>
                                                    <div class="h5 mb-0 font-weight-bold text-gray-800" id="1">Peak Time</div>
                                                </div>
                                                <div class="col-auto">
                                                    <i class="fas fa-calendar fa-2x text-gray-300"></i>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xl-3 col-md-6 mb-4">
                                    <div class="card border-left-primary shadow h-100 py-2">
                                        <div class="card-body">
                                            <div class="row no-gutters align-items-center">
                                                <div class="col mr-2">
                                                    <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">Wednesday</div>
                                                    <div class="h5 mb-0 font-weight-bold text-gray-800" id="2">Peak Time</div>
                                                </div>
                                                <div class="col-auto">
                                                    <i class="fas fa-calendar fa-2x text-gray-300"></i>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xl-3 col-md-6 mb-4">
                                    <div class="card border-left-primary shadow h-100 py-2">
                                        <div class="card-body">
                                            <div class="row no-gutters align-items-center">
                                                <div class="col mr-2">
                                                    <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">Thursday</div>
                                                    <div class="h5 mb-0 font-weight-bold text-gray-800" id="3">Peak Time</div>
                                                </div>
                                                <div class="col-auto">
                                                    <i class="fas fa-calendar fa-2x text-gray-300"></i>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xl-3 col-md-6 mb-4">
                                    <div class="card border-left-primary shadow h-100 py-2">
                                        <div class="card-body">
                                            <div class="row no-gutters align-items-center">
                                                <div class="col mr-2">
                                                    <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">Friday</div>
                                                    <div class="h5 mb-0 font-weight-bold text-gray-800" id="4">Peak Time</div>
                                                </div>
                                                <div class="col-auto">
                                                    <i class="fas fa-calendar fa-2x text-gray-300"></i>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xl-3 col-md-6 mb-4">
                                    <div class="card border-left-primary shadow h-100 py-2">
                                        <div class="card-body">
                                            <div class="row no-gutters align-items-center">
                                                <div class="col mr-2">
                                                    <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">Saturday</div>
                                                    <div class="h5 mb-0 font-weight-bold text-gray-800" id="5">Peak Time</div>
                                                </div>
                                                <div class="col-auto">
                                                    <i class="fas fa-calendar fa-2x text-gray-300"></i>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


    <script src="@Url.Content("~/assets/jquery.min.js")"></script>
    <script src="@Url.Content("~/assets/bootstrap/js/bootstrap.bundle.min.js")"></script>
    <script src="@Url.Content("https://canvasjs.com/assets/script/canvasjs.min.js")"></script>


    <script>

        function getCookie(cname) {

            var name = cname + "=";
            var decodedCookie = decodeURIComponent(document.cookie);
            var ca = decodedCookie.split(';');

            for (var i = 0; i < ca.length; i++) {

                var c = ca[i];
                while (c.charAt(0) == ' ') {
                    c = c.substring(1);
                }

                if (c.indexOf(name) == 0) {
                    return c.substring(name.length, c.length);
                }
            }

            return "";
        }

        var gymId = getCookie("gymId").split(",")[0];

        $("#menu-toggle").click(function (e) {
            e.preventDefault();
            $("#wrapper").toggleClass("toggled");
        });

        function logout() {

                 document.cookie = 'gymId=; expires=Thu, 01 Jan 1970 00:00:01 GMT;path=/;';
                document.cookie = 'username=; expires=Thu, 01 Jan 1970 00:00:01 GMT;path=/;';
                window.location.href = "@Url.Content("~/ManagerLogin")";

        }

        function showData() {
            showChart();
            //showDailyPredictions();
        }

        async function showDailyPredictions() {

            for (k = 0; k < 6; k++) { //each day of the week
                var peakcount = 0;
                var peaktime = 0;
                for (p = 6; p < 20; p++) { // each hour of the day
                    var tm = p * 3600;
                    var pred = await getPrediction(tm, k);

                    if (pred > peakcount) {
                        peakcount = pred;
                        peaktime = tm;
                    }
                }

                var el = document.getElementById(k.toString());
                el.innerHTML = "Peak Time: " + peaktime.toFixed(0);
            }
        }

        async function getPrediction(tm, dow) {
            var req = new XMLHttpRequest();
            var url = 'https://us-central1-fbprojid.cloudfunctions.net/predictSPAM';
            req.open("POST", url, true);
            req.setRequestHeader("Content-Type", "application/json");
            req.onreadystatechange = function () {
                if (req.readyState == 4 && req.status == 200) {
                    var json = JSON.parse(req.responseText);
                    console.log(json.predictions[0]);
                    return json.predictions[0];
                }
            }
            var data = JSON.stringify({
                "decimaltime": tm,
                "dayoftheweek": dow
            });
            req.send(data)
        }

        async function showChart() {
            var days = new Array(7); //days of the week data

            for (k = 0; k < 7; k++) {
                days[k] = 0;
            }

            var req = new XMLHttpRequest();
            var url = "@Url.Content("~/api/gymattendance/get?gymid=")" + gymId
            req.open("GET", url, true);
            req.setRequestHeader("Content-Type", "application/json");
            req.onreadystatechange = function () {
                if (req.readyState == 4 && req.status == 200) {
                    var attendance = JSON.parse(req.responseText);
                    console.log(json);

                    var last = new Date(date.getTime() - (7 * 24 * 60 * 60 * 1000));
                    var day = last.getDate();

                    for (i = 0; i < attendance.length; i++) {

                        var dt = new Date(attendance.year, attendance.month, attendance.day);
                        if (dt < day) {
                            var dow = dt.getDay();
                            if(dow > 0)
                                days[dow-1] += attendance.count;
                        }
                    }

                    drawChart(days);
                }
            }
            req.send();
        }

        function drawChart(idayArr) {
            var ctx = document.getElementById("chart");
            var myBarChart = new Chart(ctx, {
                type: 'bar',
                data: {
                    labels: classLabels,
                    datasets: [{
                        label: 'Gym Attendance in the past week',
                        data: idayArr,
                        backgroundColor: "#7341e6",
                        hoverBackgroundColor: "#7341e6",
                        borderColor: "#7341e6",
                        borderWidth: 1
                    }]
                },
                options: {
                    scales: {
                        yAxes: [{
                            ticks: {
                                beginAtZero: true
                            }
                        }],
                        xAxes: [{
                            barPercentage: 0.1
                        }]
                    }
                }
            });

            classLabels = [];
            classRatingsValues = [];
        }

    </script>



</body>
</html>


