<!--
File Name
  Home.html

Author:
  Raeesa

Date Created
  10/08/2020

Update History:
--------------------------------------------------------------------------------
| Date       | Author       | Changes
--------------------------------------------------------------------------------



Functional Description:
  This file contains the code for the Home page of dashboard.

-->

<!DOCTYPE html>
<html>
    <head>

        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="">
        <meta name="author" content="">

        <link rel="icon" href="@Url.Content("~/assets/images/dumbbell-128x128-1.png")">

        <title>Gym Moves Dashboard</title>

        <link href="@Url.Content("~/assets/vendor/fontawesome-free/css/all.min.css")" rel="stylesheet" type="text/css">
        <link href="@Url.Content("https://fonts.googleapis.com/css?family=Roboto:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i")"
              rel="stylesheet">
        <link href="@Url.Content("~/assets/css/sb-admin-2.min.css")" rel="stylesheet">
        <link href="@Url.Content("~/assets/vendor/datatables/dataTables.bootstrap4.min.css")" rel="stylesheet">



        <style>

            .look {
                width: 60%;
                border-radius: 15px;
                border: 1px #7341e6 solid;
            }

            #searching{
                left: 40%;
            }

            .navbar_background {
                background-color: #7341e6;
                color: white;
            }

            @@font-face {
                font-family: 'Lastwaerk';
                src: url("@Url.Content("~/assets/lastwaerk.ttf")") format('truetype');
            }

            tbody tr:nth-child(odd) {
                background-color: #eeebea;
            }

            table {
                border-collapse: collapse;
            }

            table, th, td {
                border: none !important;
            }

            .col-xl-4 col-lg-5 {
                left: 50%;
            }

            .row-m-t {
                margin-top: 20px
            }
        </style>
    </head>

    <body id="page-top">

        <script>
            if (document.cookie == "") {
                 window.location.href = "@Url.Content("~/ManagerLogin")";
                }
        </script>

        <div id="wrapper">

            <ul class="navbar-nav sidebar sidebar-dark accordion navbar_background" id="accordionSidebar">

                <a class="sidebar-brand d-flex align-items-center justify-content-center" href=#>
                    <div class="sidebar-brand-icon">
                        <img src="@Url.Content("~/assets/images/logo.png")" height="30px" alt="dumbbell">
                    </div>
                    <div class="sidebar-brand-text mx-3">Gym Moves</div>
                </a>

                <hr class="sidebar-divider my-0">

                <li class="nav-item active">
                    <a class="nav-link" href=#>
                        <span>Home</span>
                    </a>
                </li>

                <li class="nav-item">
                    <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapsePages" aria-expanded="true" aria-controls="collapsePages">
                        <span>Dashboard</span>
                    </a>
                    <div id="collapsePages" class="collapse" aria-labelledby="headingPages" data-parent="#accordionSidebar">
                        <div class="bg-white py-2 collapse-inner rounded">
                            <a class="collapse-item" href="@Url.Content("~/dashboard/GymTraffic")">Gym Attendance</a>
                            <a class="collapse-item" href="@Url.Content("~/dashboard/Ratings")">Gym Ratings</a>
                            <a class="collapse-item" href="@Url.Content("~/dashboard/ClassAttendance")">Class Attendance</a>
                        </div>
                    </div>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="@Url.Content("~/dashboard/AddMembers")">
                        <span>Upload Database</span>
                    </a>
                </li>

                <hr class="sidebar-divider d-none d-md-block">

                <div class="text-center d-none d-md-inline">
                    <button class="rounded-circle border-0" id="sidebarToggle"></button>
                </div>

            </ul>

            <div id="content-wrapper" class="flex-column" style="padding-bottom:20px;">

                <div id="content">

                    <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

                        <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
                            <i class="fa fa-bars"></i>
                        </button>

                        <div class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100">
                            Home
                        </div>

                        <ul class="navbar-nav ml-auto">

                            <div class="topbar-divider d-none d-sm-block"></div>

                            <li class="nav-item dropdown no-arrow">
                                <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <img class="img-profile rounded-circle" src="@Url.Content("~/assets/images/profile.png")">
                                </a>

                                <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="userDropdown">

                                    <a class="dropdown-item" href="#" data-toggle="modal" data-target="#logoutModal" onclick="logout()">
                                        <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                                        Logout
                                    </a>
                                </div>
                            </li>
                        </ul>
                    </nav>

                </div>

                <div class="row" style="padding-left:50px; padding-top:20px;">
                    <div class="dropdown">
                        <a class="btn btn-secondary dropdown-toggle" style=" background-color: #7341e6;" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            All
                        </a>

                        <div class="dropdown-menu col-xl-3 col-md-6 mb-4" aria-labelledby="dropdownMenuLink">
                            <a class="dropdown-item" href="#" id="All">All</a>
                            <a class="dropdown-item" href="#" id="r">Registered</a>
                            <a class="dropdown-item" href="#" id="nr">Not Registered</a>
                        </div>
                    </div>

                    <div id="searching" class="wrapping col-xl-3 col-md-6 mb-4">
                        <input class="form-control look" type="text"id="search" onkeyup='searchTable()' placeholder="Type to search" aria-label="Search">
                    </div>
                </div>

                <div><h2></h2></div>

                <div class="row">

                    <div class="col-xl-8 col-lg-7" style="padding-left:50px;">

                        <div class="card shadow mb-4" id="classTable" style="padding: 10px;">
                            <div class="card-body">
                                <div class="table-responsive">
                                    <table id="membersTable" class="table" width="100%" cellspacing="0">
                                        <thead>
                                            <tr>
                                                <th>Name</th>
                                                <th>Surname</th>
                                                <th>Email</th>
                                            </tr>
                                        </thead>
                                        <tbody id="tbody">
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-xl-4 col-lg-5" style="padding-right:50px;">
                        <div class="card shadow mb-4">
                            <div class="card-header py-3">
                                <h6 class="m-0 font-weight-bold text-primary">Registered vs Not registered members on app</h6>
                            </div>

                            <div class="card-body">
                                <div class="chart-pie pt-4">
                                    <canvas id="myPieChart"></canvas>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


            </div>
            
        </div>
                  
        <script src="@Url.Content("~/assets/vendor/jquery/jquery.min.js")"></script>
        <script src="@Url.Content("~/assets/vendor/bootstrap/js/bootstrap.bundle.min.js")"></script>
        <script src="@Url.Content("~/assets/vendor/jquery-easing/jquery.easing.min.js")"></script>
        <script src="@Url.Content("~/assets/js/sb-admin-2.min.js")"></script>
        <script src="@Url.Content("~/assets/vendor/chart.js/Chart.min.js")"></script>
        <script src="@Url.Content("~/assets/js/demo/chart-pie-demo.js")"></script>

            
        <script>

            var notRegistered = 0;
            var registered = 0;
            var all;

            var labelsForGraph = ["Registered", "Not Registered"];
            var values;

            document.getElementById("All").onclick = function () {
                document.getElementById("dropdownMenuLink").innerHTML = "All";
                loadAll();
            }

            document.getElementById("nr").onclick = function () {
                document.getElementById("dropdownMenuLink").innerHTML = "Not Registered";
                loadnotregistered(true);
            }


            document.getElementById("r").onclick = function () {
                document.getElementById("dropdownMenuLink").innerHTML = "Registered";
                loadregistered(true);
            }


            function searchTable() {
                var input, filter, found, table, tr, td, i, j;
                input = document.getElementById("search");
                filter = input.value.toUpperCase();
                table = document.getElementById("tbody");
                tr = table.getElementsByTagName("tr");

                for (i = 0; i < tr.length; i++) {
                    td = tr[i].getElementsByTagName("td");
                    for (j = 0; j < td.length; j++) {
                        if (td[j].innerHTML.toUpperCase().indexOf(filter) > -1) {
                            found = true;
                        }
                    }

                    if (found) {
                        tr[i].style.display = "";
                        found = false;
                    } else {
                        tr[i].style.display = "none";
                    }

                }

            }

            const membersTableBody = document.getElementById("tbody");

            async function loadregistered(loadTable) {

                var url = "@Url.Content("~/api/Gym/registeredMembers")";

                var username = getCookie("username").split(",")[0];
                var gymid = getCookie("gymId").split(",")[0];

                var data = JSON.stringify({ "Username": username, "GymId": parseInt(gymid) });

                await jQuery.ajax({
                     url: url,
                     type: "POST",
                     data: data,
                     contentType: "application/json",
                    success: function (result) {

                        if (loadTable) {
                            populateTable(result);
                        } else {
                            registered = result.length;
                        }
                                                },
                    error: function (result) {
                        window.alert(result.responseText);
                    }
                });
            }




            function getCookie(cname) {

                var name = cname + "=";
                var decodedCookie = decodeURIComponent(document.cookie);
                var ca = decodedCookie.split(';');

                for (var i = 0; i < ca.length; i++) {

                    var c = ca[i];
                    while (c.charAt(0) == ' ') {
                        c = c.substring(1);
                    }

                    if (c.indexOf(name) == 0) {
                        return c.substring(name.length, c.length);
                    }

                }

                return "";

            }


            async function loadAll() {

                var url = "@Url.Content("~/api/Gym/AllMembers")";

                var username = getCookie("username").split(",")[0];
                var gymid = getCookie("gymId").split(",")[0];

                var data = JSON.stringify({ "Username": username, "GymId": parseInt(gymid) });

                await jQuery.ajax({
                     url: url,
                     type: "POST",
                     data: data,
                     contentType: "application/json",
                    success: async function (result) {

                        all = result.length;
                        await loadregistered(false);
                        await loadnotregistered(false);
                        populateTable(result);

                        values = [];
                        values.push(registered / all * 100);
                        values.push(notRegistered / all * 100);

                        createChart(labelsForGraph, values);

                    },
                    error: function (result) {
                        window.alert(result.responseText);
                    }
                });

            }


            async function loadnotregistered(loadTable) {

                var url = "@Url.Content("~/api/Gym/unregisteredMembers")";

                var username = getCookie("username").split(",")[0];
                var gymid = getCookie("gymId").split(",")[0];

                var data = JSON.stringify({ "Username": username, "GymId": parseInt(gymid) });

                await jQuery.ajax({
                     url: url,
                     type: "POST",
                     data: data,
                     contentType: "application/json",
                    success: function (result) {

                        if (loadTable) {
                            populateTable(result);
                        } else {
                            notRegistered = result.length;
                        }
                    },
                    error: function (result) {
                        window.alert(result.responseText);
                    }
                });
            }


            function populateTable(name) {
                while (membersTableBody.firstChild) {
                    membersTableBody.removeChild(membersTableBody.firstChild)
                }

                 Object.keys(name).forEach( (row) => {

                     var userDetails = [];
                     userDetails.push(name[row].name);
                     userDetails.push(name[row].surname);
                     userDetails.push(name[row].email);

                     const tr = document.createElement("tr");

                     for (var cell = 0; cell < 3; cell++) {
                         const td = document.createElement("td");
                         td.textContent = userDetails[cell];
                         tr.appendChild(td);
                     }
                     membersTableBody.appendChild(tr);
                 });
            }

            document.addEventListener("DOMContentLoaded", () => { loadAll() });

            function logout() {

                document.cookie = 'gymId=; expires=Thu, 01 Jan 1970 00:00:01 GMT;path=/;';
                document.cookie = 'username=; expires=Thu, 01 Jan 1970 00:00:01 GMT;path=/;';
                window.location.href = "@Url.Content("~/ManagerLogin")";

            }


        </script>

    </body>
</html>
