<!--
File Name:
    ForgotPassword.cshtml

Author:
    Longji

Date Created:
    07/08/2020

Update History:
--------------------------------------------------------------------------------
Date          |    Author      |     Changes
--------------------------------------------------------------------------------
07/08/2020    |  Longji        |  Created the forgot password page
--------------------------------------------------------------------------------

Functional Description:


List of Classes:
    - None
-->
<!-- TODO: Cases where API returns something that is not 200OK -->

<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1" />
    <link rel="shortcut icon" href="@Url.Content("~/assets/images/dumbbell-128x128-1.png")" type="image/x-icon" />

    <title>Forgot Password</title>

    <link rel="stylesheet" href="@Url.Content("~/assets/bootstrap/css/bootstrap.min.css")">
    <link rel="stylesheet" href="@Url.Content("~/assets/bootstrap/css/bootstrap-grid.min.css")">
    <link rel="stylesheet" href="@Url.Content("~/assets/bootstrap/css/bootstrap-reboot.min.css")">
    <link rel="stylesheet" href="@Url.Content("~/assets/styles.css")">

    <meta charset="utf-8">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>

    <style>

            @@import url(https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i&display=swap);


                @@font-face {
                    font-family: 'Lastwaerk';
                    src: url("@Url.Content("~/assets/lastwaerk.ttf")") format('truetype');
                }

                .navbar_background {
                    background-color: #7341E6;
                    color: white;
                }



    </style>
</head>

<body style="font-family: Roboto;">
    <div class="bs-example">
        <nav class="navbar navbar-expand-md navbar-light navbar_background">
            <a href="#" class="navbar-brand">
                <img src="@Url.Content("~/assets/images/logo.png")" height="28" alt="dumbbell">
                <span id="heading" style="font-family: 'Lastwaerk'; font-size: 1.5em">Gym Moves</span>
            </a>
            <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse" style="background-color: white;">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarCollapse">
                <div class="navbar-nav ml-auto">
                    <a href="@Url.Content("~/GymMoves")" class="nav-item nav-link" style="color: white; opacity: 0.7;">About us</a>
                    <a href="@Url.Content("~/GymMembers")" class="nav-item nav-link" style="color: white; opacity: 0.7;">Gym Members</a>
                    <a href="@Url.Content("~/GymInstructors")" class="nav-item nav-link" style="color: white; opacity: 0.7;">Gym Instructors</a>
                    <a href="@Url.Content("~/GymManagers")" class="nav-item nav-link" style="color: white; opacity: 0.7;">Gym Managers</a>
                    <a href="@Url.Content("~/HowToRegisterMyGym")" class="nav-item nav-link" style="color: white; opacity: 0.7;">Register My Gym</a>
                </div>
            </div>
        </nav>
    </div>

    <section>
        <div class="col-md-12 d-flex flex-column justify-content-center">
            <div class="col-lg-6 col-md-8 mx-auto">
                <div class="card-body">
                    <form role="form" autocomplete="off" id="forgotpassword" method="get" novalidate="">
                        <div class="form-group">
                            <label for="username">Username</label>
                            <input type="text" class="form-control form-control-lg" name="username" id="username" />
                        </div>

                        <div id="haveCode" align="right">
                            <a class="nav-link" href="@Url.Content("~/ResetPassword")"> Already have a code?</a>
                        </div>

                        <div align="center" class="form-group">
                            <button type="button" class="btn button-colour" onclick="getCode()">Get Code</button>
                        </div>

                        <div id="notifyField" align="center" style="color:darkgray">
                            An email will be sent to the email address associated with your account. You will be redirected to a page to enter this code as well as your new password.
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>

    <section once="footers" class="footer barColour">
        <div class="container">

            © Copyright 2020 Gym Moves - All Rights Reserved

        </div>
    </section>

    <script src="@Url.Content("~/assets/jquery.min.js")"></script>

    <script>
                var color;

                $("#username").on('keyup', function (e) {
                    document.getElementById("username").style.borderColor = color;
                });

                async function getCode() {
                    var username = document.getElementById("username").value;

                    if (username != "") {
                        jQuery.ajax({
                            url: "@Url.Content("~/api/user/getcode")",
                            type: "GET",
                            data: {
                                username: username
                            },
                            success: function (result) {
                                window.location.href = "@Url.Content("~/ResetPassword")";
                            }
                        });
                    } else {
                        color = document.getElementById("username").style.borderColor;
                        document.getElementById("username").style.borderColor = "red";
                        alert("Username cannot be blank!");
                    }
                }
    </script>
</body>
</html>