<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Dashboard</title>

    <link href="@Url.Content("~/assets/bootstrap/css/bootstrap.min.css")" rel="stylesheet">
    <link href="@Url.Content("~/assets/simple-sidebar.css")" rel="stylesheet">

    <style>
        .navbar_background {
            background-color: #7341e6;
            color: white;
        }

        @@font-face {
            font-family: 'Lastwaerk';
            src: url("@Url.Content("~/assets/lastwaerk.ttf")") format('truetype');
        }

        .pred{
           width: 25%;
           back
        }

        .dow{
            font-size: 1.5rem;
        }

    </style>

</head>

<body>

    <script>
        if (document.cookie == "") {
            window.location.href = "@Url.Content("~/ManagerLogin")";
        }
    </script>

    <div class="d-flex" id="wrapper">

        <div class="border-right navbar_background" id="sidebar-wrapper">
            <span class="sidebar-heading navbar_background" style="font-family: Lastwaerk; font-size: 1.5em; margin: 0px 20px 20px 0px;">
                Gym Moves
                <img src="@Url.Content("~/assets/images/logo.png")" height="30px" alt="dumbbell">
            </span>
            <div class="list-group list-group-flush">
                <a href="#" class="list-group-item list-group-item-action navbar_background">Home</a>
                <a href="#" class="list-group-item list-group-item-action navbar_background">Gym Traffic</a>
                <a href="#" class="list-group-item list-group-item-action navbar_background">Ratings</a>
                <a href="#" class="list-group-item list-group-item-action navbar_background">Classes</a>
                <a href="#" class="list-group-item list-group-item-action navbar_background">Upload Database</a>
                <a href="#" class="list-group-item list-group-item-action navbar_background">Profile</a>
            </div>
        </div>

        <div id="page-content-wrapper">

            <nav class="navbar navbar-expand-lg navbar-light navbar_background border-bottom ">
                <button class="btn btn-primary" style=" background-color: white; color: #7341e6;" id="menu-toggle">Toggle Menu</button>

            </nav>

            <div class="container-fluid">
                <h1 class="mt-5">Gym Statistics</h1>
                <div>
                    Number of people at Gym:
                </div>
                    <div id="chartContainer" style="height: 300px; width: 100%;"></div>
                    <div>
                        <h1>Gym predictions</h1>
                        <div class="row">
                            <span class= "pred">
                                <p class="dow">Monday</p>
                                <p>Peak Time:</p>
                            </span>
                            <span class= "pred">
                                <p class="dow">Tuesday:</p>
                                <p>Peak Time:</p>
                            </span>
                            <span class= "pred">
                                <p class="dow">Wednesday:</p>
                                <p>Peak Time:</p>
                            </span>
                        </div>
                        <div class="row">
                        <span class= "pred">
                            <p class="dow">Thursday:</p>
                            <p>Peak Time:</p>
                        </span>
                        <span class= "pred">
                            <p class="dow">Friday:</p>
                            <p>Peak Time:</p>
                        </span>
                        <span class= "pred">
                            <p class="dow">Saturday:</p>
                            <p>Peak Time:</p>
                        </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <script src="@Url.Content("~/assets/jquery.min.js")"></script>
    <script src="@Url.Content("~/assets/bootstrap/js/bootstrap.bundle.min.js")"></script>
    <script src="@Url.Content("~/assets/bootstrap/js/GymTraffic.js")"></script>
    <script src="@Url.Content("https://canvasjs.com/assets/script/canvasjs.min.js")"></script>


    <script>
        $("#menu-toggle").click(function (e) {
            e.preventDefault();
            $("#wrapper").toggleClass("toggled");
        });
    </script>

</body>
