<!--
File Name
  ManagerDetails.html

Author:
  Raeesa

Date Created
  19/08/2020

Update History:
--------------------------------------------------------------------------------
| Date       | Author       | Changes
--------------------------------------------------------------------------------



Functional Description:
  This file contains the HTML and some css code for the signup page for gym managers who recently got accepted to register their gym.

-->

<html>

    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="shortcut icon" href="@Url.Content("~/assets/images/dumbbell-128x128-1.png")" type="image/x-icon">

        <title>Login for Manager</title>

        <link rel="stylesheet" href="@Url.Content("~/assets/bootstrap/css/bootstrap.min.css")">
        <link rel="stylesheet" href="@Url.Content("~/assets/bootstrap/css/bootstrap-grid.min.css")">
        <link rel="stylesheet" href="@Url.Content("~/assets/bootstrap/css/bootstrap-reboot.min.css")">
        <link rel="stylesheet" href="@Url.Content("~/assets/styles.css")">

        <meta charset="utf-8">

        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
        <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>

        <style>

                @@import url(https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i&display=swap);

                @@font-face {
                    font-family: 'Lastwaerk';
                    src: url("@Url.Content("~/assets/lastwaerk.ttf")") format('truetype');
                }

                .navbar_background {
                    background-color: #7341E6;
                    color: white;
                }

                .button-colour {
                    background-color: #7341E6;
                    color: white;
                }


        </style>

    </head>

    <body style="font-family: Roboto;">
        <div class="bs-example">
            <nav class="navbar navbar-expand-md navbar-light navbar_background">
                <a href="#" class="navbar-brand">
                    <img src="@Url.Content("~/assets/images/logo.png")" height="28" alt="dumbbell">
                    <span id="heading" style="font-family: 'Lastwaerk'; font-size: 1.5em">Gym Moves</span>
                </a>
                <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse" style="background-color: white;">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarCollapse">
                    <div class="navbar-nav ml-auto">
                        <a href="@Url.Content("~/GymMoves")" class="nav-item nav-link" style="color: white; opacity: 0.7;">About us</a>
                        <a href="@Url.Content("~/GymMembers")" class="nav-item nav-link" style="color: white; opacity: 0.7;">Gym Members</a>
                        <a href="@Url.Content("~/GymInstructors")" class="nav-item nav-link" style="color: white; opacity: 0.7;">Gym Instructors</a>
                        <a href="@Url.Content("~/GymManagers")" class="nav-item nav-link" style="color: white; opacity: 0.7;">Gym Managers</a>
                        <a href="@Url.Content("~/HowToRegisterMyGym")" class="nav-item nav-link" style="color: white; opacity: 0.7;">Register My Gym</a>
                    </div>
                </div>
            </nav>
        </div>

        <br>
        <br>

        <section>
            <div class="col-md-12 d-flex flex-column justify-content-center">
                <div class="col-lg-6 col-md-8 mx-auto">
                    <div class="card-body">
                        <form role="form" autocomplete="off" id="register" method="post" novalidate="">
                            <div class="form-group">
                                <label for="username">Username</label>
                                <input type="text" class="form-control form-control-lg" name="username" id="username" required="">
                                <div id="errorUsername" style="color: red; visibility: hidden;"> Username is needed! </div>
                            </div>

                            <div class="form-group">
                                <label for="code">Code</label>
                                <input type="text" class="form-control form-control-lg" name="code" id="code" required="">
                                <div id="errorCode" style="color: red; visibility: hidden;"> Code is needed! </div>
                            </div>

                            <div class="form-group">
                                <label for="password">Password</label>
                                <input type="password" class="form-control form-control-lg" name="password" id="password" required="">
                                <div id="errorPassword" style="color: red; visibility: hidden;"> Password is needed! </div>
                            </div>


                            <br>

                            <div align="center" class="form-group">
                                <button type="button" class="btn button-colour" onclick="signup()">Sign up</button>
                            </div>

                        </form>
                    </div>
                </div>
            </div>
        </section>

        <section once="footers" class="footer barColour">
            <div class="container">

                © Copyright 2020 Gym Moves - All Rights Reserved

            </div>
        </section>

        <script src="@Url.Content("~/assets/jquery.min.js")"></script>

        <script>


            async function signup() {

                if (document.getElementById("password").value == "" && document.getElementById("username").value == "" && document.getElementById("code").value == "") {

                    document.getElementById("errorUsername").style.visibility = "visible";
                    document.getElementById("username").style.boxShadow = "0 0 5px red";

                    document.getElementById("errorPassword").style.visibility = "visible";
                    document.getElementById("password").style.boxShadow = "0 0 5px red";

                    document.getElementById("errorCode").style.visibility = "visible";
                    document.getElementById("code").style.boxShadow = "0 0 5px red";

                    return;

                }
                else if (document.getElementById("password").value == "" && document.getElementById("username").value == "") {

                    document.getElementById("errorUsername").style.visibility = "visible";
                    document.getElementById("username").style.boxShadow = "0 0 5px red";

                    document.getElementById("errorPassword").style.visibility = "visible";
                    document.getElementById("password").style.boxShadow = "0 0 5px red";

                    document.getElementById("errorCode").style.visibility = "hidden";
                    document.getElementById("code").style.boxShadow = "0 0 5px #7341E6";

                    return;

                }
                else if (document.getElementById("password").value == "" && document.getElementById("code").value == "") {

                    document.getElementById("errorCode").style.visibility = "visible";
                    document.getElementById("code").style.boxShadow = "0 0 5px red";

                    document.getElementById("errorPassword").style.visibility = "visible";
                    document.getElementById("password").style.boxShadow = "0 0 5px red";

                    document.getElementById("errorUsername").style.visibility = "hidden";
                    document.getElementById("username").style.boxShadow = "0 0 5px #7341E6";

                    return;
                }
                else if (document.getElementById("code").value == "" && document.getElementById("username").value == "") {

                    document.getElementById("errorUsername").style.visibility = "visible";
                    document.getElementById("username").style.boxShadow = "0 0 5px red";

                    document.getElementById("errorCode").style.visibility = "visible";
                    document.getElementById("code").style.boxShadow = "0 0 5px red";

                    document.getElementById("errorPassword").style.visibility = "hidden";
                    document.getElementById("password").style.boxShadow = "0 0 5px #7341E6";

                    return;

                }
                else if (document.getElementById("password").value == "") {

                    document.getElementById("errorPassword").style.visibility = "visible";
                    document.getElementById("password").style.boxShadow = "0 0 5px red";

                    document.getElementById("errorUsername").style.visibility = "hidden";
                    document.getElementById("username").style.boxShadow = "0 0 5px #7341E6";

                    document.getElementById("errorCode").style.visibility = "hidden";
                    document.getElementById("code").style.boxShadow = "0 0 5px #7341E6";

                    return;

                }
                else if (document.getElementById("username").value == "") {

                    document.getElementById("errorUsername").style.visibility = "visible";
                    document.getElementById("username").style.boxShadow = "0 0 5px red";

                    document.getElementById("errorPassword").style.visibility = "hidden";
                    document.getElementById("password").style.boxShadow = "0 0 5px #7341E6";

                    document.getElementById("errorCode").style.visibility = "hidden";
                    document.getElementById("code").style.boxShadow = "0 0 5px #7341E6";

                    return;

                }
                else if (document.getElementById("code").value == "") {

                    document.getElementById("errorCode").style.visibility = "visible";
                    document.getElementById("code").style.boxShadow = "0 0 5px red";

                    document.getElementById("errorPassword").style.visibility = "hidden";
                    document.getElementById("password").style.boxShadow = "0 0 5px #7341E6";


                    document.getElementById("errorUsername").style.visibility = "hidden";
                    document.getElementById("username").style.boxShadow = "0 0 5px #7341E6";

                    return;

                }
                else {
                    document.getElementById("errorPassword").style.visibility = "hidden";
                    document.getElementById("password").style.boxShadow = "0 0 5px #7341E6";

                    document.getElementById("errorUsername").style.visibility = "hidden";
                    document.getElementById("username").style.boxShadow = "0 0 5px 7341E6";

                    document.getElementById("errorCode").style.visibility = "hidden";
                    document.getElementById("code").style.boxShadow = "0 0 5px #7341E6";

                }

                var regex = /^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[^a-zA-Z0-9])(?!.*\s).{8,15}$/;

                if (!document.getElementById("password").value.match(regex)) {
                    document.getElementById("password").style.boxShadow = "0 0 5px #7341E6";
                    window.alert("Password needs a lowercase letter, uppercase letter, a digit, and a special character.");
                    return;
                }



                const msgBuffer = new TextEncoder('utf-8').encode(document.getElementById("password").value);
                const hashBuffer = await crypto.subtle.digest('SHA-256', msgBuffer);
                const hashArray = Array.from(new Uint8Array(hashBuffer));
                const hashHex = hashArray.map(b => ('00' + b.toString(16)).slice(-2)).join('');

                var user =
                {
                    'Username': document.getElementById("username").value,
                    'Password': hashHex,
                    'Code': document.getElementById("code").value
                };


                jQuery.ajax({
                    url: "@Url.Content("~/api/user/firstmanager")",
                    type: "POST",
                    data: JSON.stringify(user),
                    contentType: "application/json",
                    success: function (result) {
                        document.cookie = "username=" + document.getElementById("username").value + ", path=/";
                        document.cookie = "gymId=" + result.gymID + ", path=/";
                        window.location.href = "@Url.Content("~/dashboard/home")";
                    },

                    error: function (result) {
                        window.alert(result.responseText);
                    }
                });
            }

        </script>

    </body>

</html>


