<!--
File Name:
    ResetPassword.cshtml

Author:
    Longji

Date Created:
    07/08/2020

Update History:
--------------------------------------------------------------------------------
Date          |    Author      |     Changes
--------------------------------------------------------------------------------
07/08/2020    |  Longji        |  Created the reset password page
--------------------------------------------------------------------------------

Functional Description:


List of Classes:
    - None
-->

<!-- TODO: Cases where API returns something that is not 200OK -->

    <html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1" />
        <link rel="shortcut icon" href="@Url.Content("~/assets/images/dumbbell-128x128-1.png")" type="image/x-icon" />

        <title>Forgot Password</title>

        <link rel="stylesheet" href="@Url.Content("~/assets/bootstrap/css/bootstrap.min.css")">
        <link rel="stylesheet" href="@Url.Content("~/assets/bootstrap/css/bootstrap-grid.min.css")">
        <link rel="stylesheet" href="@Url.Content("~/assets/bootstrap/css/bootstrap-reboot.min.css")">
        <link rel="stylesheet" href="@Url.Content("~/assets/styles.css")">
    </head>

    <body>
        <section>
            <nav class="navbar navbar-expand navbar-dark barColour">
                <img style="vertical-align: top; height: 90px;" src="@Url.Content("~/assets/images/dumbbell-128x128-1.png")" alt="" title="">
                <div style="width: 40%;">
                    <p id="heading">Gym Moves</p>
                </div>
                <div style="width: 50%;">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link" href="@Url.Content("~/GymMoves")">About us</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="@Url.Content("~/GymMembers")">Gym Members</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="@Url.Content("~/GymInstructors")">Gym Instructors</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="@Url.Content("~/GymManagers")">Gym Managers</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="@Url.Content("~/HowToRegisterMyGym")">Register My Gym</a>
                        </li>

                    </ul>
                </div>
            </nav>
        </section>

        <section>
            <div class="col-md-12 d-flex flex-column justify-content-center">
                <div class="col-lg-6 col-md-8 mx-auto">
                    <div class="card-body">
                        <form role="form" autocomplete="off" id="forgotpassword" method="get" novalidate="">
                            <div class="form-group">
                                <label for="username">Username</label>
                                <input type="text" class="form-control form-control-lg" name="username" id="username" />
                            </div>

                            <div class="form-group">
                                <label for="resetcode">Reset Code</label>
                                <input type="text" class="form-control form-control-lg" name="resetcode" id="resetcode" />
                            </div>

                            <div class="form-group">
                                <label for="password">Password</label>
                                <input type="password" class="form-control form-control-lg" name="password" id="password" />
                            </div>

                            <div class="form-group">
                                <label for="confirmPassword" id="confirmLabel">Confirm Password</label>
                                <input type="password" class="form-control form-control-lg" name="confirmPassword" id="confirmPassword" />
                            </div>

                            <div id="noCode" align="right">
                                <a class="nav-link" href="@Url.Content("~/ForgotPassword")"> Don't have a code? Get a reset code here!</a>
                            </div>

                            <div align="center" class="form-group">
                                <button type="button" class="btn button-colour" onclick="onSubmit()">Reset Password</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </section>

        <section once="footers" class="footer barColour">
            <div class="container">

                © Copyright 2020 Gym Moves - All Rights Reserved

            </div>
        </section>

        <script src="@Url.Content("~/assets/jquery.min.js")"></script>
            
        <script>
            var color = document.getElementById("username").style.borderColor;
            var matches = false;

            $("#username").on('keyup', function (e) {
                document.getElementById("username").style.borderColor = color;
            });

            $("#resetcode").on('keyup', function (e) {
                document.getElementById("resetcode").style.borderColor = color;
            });

            $("#password").on('keyup', function (e) {
                document.getElementById("password").style.borderColor = color;
            });

            $("#confirmPassword").on('keyup', function (e) {
                document.getElementById("confirmPassword").style.borderColor = color;
                matches = true;

                if (document.getElementById("password").value != document.getElementById("confirmPassword").value) {
                    document.getElementById("confirmPassword").style.borderColor = "red";
                    matches = false;
                }
            });

            function checkUsernameNotEmpty() {
                if (document.getElementById("username").value == "") {
                    document.getElementById("username").style.borderColor = "red";

                    return false;
                }

                return true;
            }

            function checkCodeNotEmpty() {
                if (document.getElementById("resetcode").value == "") {
                    document.getElementById("resetcode").style.borderColor = "red";

                    return false;
                } 

                return true;
            }

            function checkPasswordNotEmpty() {
                if (document.getElementById("password").value == "") {
                    document.getElementById("password").style.borderColor = "red";

                    return false;
                }
                return true;
            }

            function checkConfirmPasswordNotEmpty() {
                if (document.getElementById("confirmPassword").value == "") {
                    document.getElementById("confirmPassword").style.borderColor = "red";

                    return false;
                }
                return true;
            }

            function checkAllFieldsNotEmpty() {
                var status = false;

                status = checkUsernameNotEmpty();
                status = checkCodeNotEmpty();
                status = checkPasswordNotEmpty();
                status = checkConfirmPasswordNotEmpty();

                return status;
            }

            async function hashPassword() {
                const msgBuffer = new TextEncoder('utf-8').encode(document.getElementById("password").value);

                const hashBuffer = await crypto.subtle.digest('SHA-256', msgBuffer);

                const hashArray = Array.from(new Uint8Array(hashBuffer));

                const hashHex = hashArray.map(b => ('00' + b.toString(16)).slice(-2)).join('');

                return hashHex;
            }

            async function onSubmit() {
                if (checkAllFieldsNotEmpty() == true) {
                    if (matches == true) {
                        var username = document.getElementById("username").value;
                        var code = document.getElementById("resetcode").value;
                        var password = await hashPassword();

                        var data = {
                            username: username,
                            code: code,
                            password: password
                        }

                        jQuery.ajax({
                            url: "@Url.Content("~/api/user/forgotpassword")",
                            type: "POST",
                            data: JSON.stringify(data),
                            contentType: "application/json",
                            success: function (result) {
                               /* Code for successful reset */
                            }
                        });
                    } else {
                        alert("Passwords do not match!");
                    }
                } else {
                    alert("Not all fields are filled in!");
                }
            }
        </script>
    </body>
    </html>s