<!--
File Name
  Admin.cshtml

Author:
  Danel

Date Created
  01/09/2020

Update History:
--------------------------------------------------------------------------------
| Date       | Author       | Changes
--------------------------------------------------------------------------------


Functional Description:


-->
<!DOCTYPE html>

<html>
    <head>

        <link rel="icon" href="@Url.Content("~/assets/images/dumbbell-128x128-1.png")">



        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="">
        <meta name="author" content="">


        <!-- Custom fonts for this template-->
        <link href="@Url.Content("~/assets/vendor/fontawesome-free/css/all.min.css")" rel="stylesheet" type="text/css">
        <link href="@Url.Content("https://fonts.googleapis.com/css?family=Roboto:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i")" rel="stylesheet">

        <!-- Custom styles for this template-->
        <link href="@Url.Content("~/assets/css/sb-admin-2.min.css")" rel="stylesheet">

        <title>Gym Moves</title>

        <style>
                  
            .navbar_background {           
                background-color: #7341e6;
                color: white;
            }

                
            @@font-face {
                font-family: 'Lastwaerk';
                src: url("@Url.Content("~/assets/lastwaerk.ttf")") format('truetype');
            }

            table {
                border-collapse: collapse;
                font-family: Arial, sans-serif;
                width: 100%;
            }
            
            td, th {
                border: 1px solid #EEEBEA;
                text-align: center;
                padding: 8px;
            }

            table.greyGridTable tr:nth-child(even) {
                background: #EEEBEA;
            }

            .button-colour {
                background-color: #7341E6;
                color: white;
            }

            .button-colour:hover {
                background-color: #7341E6;
                color: white;
            }

            .modal {
                display: none; /* Hidden by default */
                position: fixed; /* Stay in place */
                z-index: 1; /* Sit on top */
                padding-top: 100px; /* Location of the box */
                left: 0;
                top: 0;
                width: 100%; /* Full width */
                height: 100%; /* Full height */
                overflow: auto; /* Enable scroll if needed */
                background-color: rgb(0,0,0); /* Fallback color */
                background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
            }

            /* Modal Content */
            .modal-content {
                background-color: #fefefe;
                margin: auto;
                padding: 20px;
                border: 1px solid #888;
                width: 80%;
            }

            .close {
                color: #aaaaaa;
                float: right;
                font-size: 28px;
                font-weight: bold;
            }

            .close:hover,     
            .close:focus {
                color: #000;
                text-decoration: none;
                cursor: pointer;    
            }

        </style>
    </head>

    <body id="page-top">

        <script>

            function getCookie(cname) {

                var name = cname + "=";
                var decodedCookie = decodeURIComponent(document.cookie);
                var ca = decodedCookie.split(';');

                for (var i = 0; i < ca.length; i++) {
                    var c = ca[i];
                    while (c.charAt(0) == ' ') {
                        c = c.substring(1);
                    }

                    if (c.indexOf(name) == 0) {
                        return c.substring(name.length, c.length);
                    }
                }

                return "";
            }

            adminUsernames = [];

            doRequest();

            async function doRequest() {
                await jQuery.ajax({
                    url: "@Url.Content("~/api/admin/getallusernames")",
                    type: "GET",
                    success: function (result) {
                        for (var i = 0; i < result.length; i++) {
                            adminUsernames.push(result[i].username);
                        }

                        var flag = true;

                        for (var i = 0; i < adminUsernames.length; i++) {
                            if ((getCookie("username").split(",")[0]).includes(adminUsernames[i])) {
                                flag = false;
                            }
                        }

                        if (flag) {
                            window.location.href = "@Url.Content("~/adminwebsite/adminlogin")";
                        }

                    },
                    error: function (result) {
                        modalHeading.innerHTML = "An error occurred!";
                        modalMessage.innerHTML = result.responseText;
                        modal.style.display = "block";
                    }
                });
            }


        </script>
        <div id="wrapper">

            <ul class="navbar-nav sidebar sidebar-dark accordion navbar_background" id="accordionSidebar">

                <a class="sidebar-brand d-flex align-items-center justify-content-center" href=#>
                    <div class="sidebar-brand-icon">
                        <img src="@Url.Content("~/assets/images/logo.png")" height="30px" alt="dumbbell">
                    </div>
                    <div class="sidebar-brand-text mx-3">Gym Moves</div>
                </a>

                <hr class="sidebar-divider my-0">

                <li class="nav-item">
                    <a class="nav-link" href="@Url.Content("~/adminwebsite/adminhome")">
                        <span>Home</span>
                    </a>
                </li>

                <li class="nav-item active">
                    <a class="nav-link" href="@Url.Content("~/dashboard/addStaffMember")">
                        <span>Add A Staff Member</span>
                    </a>
                </li>

                <hr class="sidebar-divider d-none d-md-block">


                <div class="text-center d-none d-md-inline">
                    <button class="rounded-circle border-0" id="sidebarToggle"></button>
                </div>

            </ul>

            <div id="content-wrapper" class="d-flex flex-column">

                <!-- Main Content -->
                <div id="content">

                    <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

                        <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
                            <i class="fa fa-bars"></i>
                        </button>

                        <div class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100">
                            Add Staff Member
                        </div>

                        <ul class="navbar-nav ml-auto">

                            <div class="topbar-divider d-none d-sm-block"></div>

                            <li class="nav-item dropdown no-arrow">
                                <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <img class="img-profile rounded-circle" src="@Url.Content("~/assets/images/profile.png")">
                                </a>

                                <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="userDropdown">

                                    <a class="dropdown-item" href="#" data-toggle="modal" data-target="#logoutModal" onclick="logout()">
                                        <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                                        Logout
                                    </a>
                                </div>
                            </li>
                        </ul>
                    </nav>


                    <section style="padding-left: 50px; padding-right: 50px">
                        <div class="col-md-12 d-flex flex-column justify-content-center card shadow">
                            <div class="col-lg-6 col-md-8 mx-auto">
                                <div class="card-body">
                                    <form role="form" autocomplete="off" id="addStaff" method="post" novalidate="">
                                        <div class="form-group">
                                            <label for="username">Username</label>
                                            <input type="text" class="form-control form-control-lg" name="username" id="username" required="">
                                            <div id="errorUsername" style="color: red; display: none;"> Username is needed! </div>
                                        </div>

                                        <div class="form-group">
                                            <label for="name">Name</label>
                                            <input type="text" class="form-control form-control-lg" name="name" id="name" required="">
                                            <div id="errorName" style="color: red; display: none;"> Name is needed! </div>
                                        </div>

                                        <div class="form-group">
                                            <label for="surname">Surname</label>
                                            <input type="text" class="form-control form-control-lg" name="surname" id="surname" required="">
                                            <div id="errorSurname" style="color: red; display: none;"> Surname is needed! </div>
                                        </div>

                                        <div class="form-group">
                                            <label for="email">Email</label>
                                            <input type="text" class="form-control form-control-lg" name="email" id="email" required="">
                                            <div id="erroremail" style="color: red; display: none;"> Email is needed! </div>
                                        </div>

                                        <br>

                                        <div align="center" class="form-group">
                                            <button type="button" class="btn button-colour" onclick="addUser()">Add User</button>
                                        </div>

                                    </form>
                                </div>
                            </div>
                        </div>
                    </section>

                </div>
            </div>
        </div>

        <div id="alertModal" class="modal">
            <div class="modal-content">
                <span align="right" class="close">&times;</span>
                <h4 id="modalHeading"></h4>
                <br />
                <p id="message"></p>
            </div>
        </div>

        <!-- Bootstrap core JavaScript-->
        <script src="@Url.Content("~/assets/vendor/jquery/jquery.min.js")"></script>
        <script src="@Url.Content("~/assets/vendor/bootstrap/js/bootstrap.bundle.min.js")"></script>

        <!-- Core plugin JavaScript-->
        <script src="@Url.Content("~/assets/vendor/jquery-easing/jquery.easing.min.js")"></script>

        <!-- Custom scripts for all pages-->
        <script src="@Url.Content("~/assets/js/sb-admin-2.min.js")"></script>


        <script type="text/javascript">

            var modal = document.getElementById("alertModal");
            var span = document.getElementsByClassName("close")[0];
            var modalMessage = document.getElementById("message");
            var modalHeading = document.getElementById("modalHeading");

            modal.style.display = "none";

            span.onclick = function () {
                modal.style.display = "none";
            }

            function validate() {
                var flag = true;

                if (document.getElementById("name").value == "") {
                    flag = false;
                }

                if (document.getElementById("surname").value == "") {
                    flag = false;
                }

                if (document.getElementById("email").value == "") {
                    flag = false;
                }

                if (document.getElementById("username").value == "") {
                    flag = false;
                }

                return flag;
            }


            function addUser() {

                if (!validate()) {
                    modalMessage.innerHTML = "None of the fields can be left empty.";
                    modalHeading.innerHTML = "Oh no!";

                    modal.style.display = "block";

                    return;
                }

                var user =
                {
                    'username': getCookie("username").split(",")[0],
                    'user': {
                        'Name': document.getElementById("name").value,
                        'Surname' : document.getElementById("surname").value,
                        'Email': document.getElementById("email").value,
                        'Username' : document.getElementById("username").value
                    }
                };

                jQuery.ajax({
                    url: "@Url.Content("~/api/admin/add")",
                    type: "POST",
                    data: JSON.stringify(user),
                    contentType: "application/json",
                    success: function (result) {

                        modalMessage.innerHTML = "Staff member added.";
                        modalHeading.innerHTML = "Success!";
                        modal.style.display = "block";

                    },
                    error: function (result) {
                        modalHeading.innerHTML = "An error occurred!";
                        modalMessage.innerHTML = result.responseText;
                        modal.style.display = "block";
                    }
                });
            }

            function logout() {
                document.cookie = 'username=; expires=Thu, 01 Jan 1970 00:00:01 GMT;path=/;';
                window.location.href = "@Url.Content("~/adminwebsite/adminLogin")";
            }
        </script>
    </body>
</html>
